{% extends 'base.html' %}
{% block title %}
  Lista de artículos
{% endblock title %}
{% block content %}
  <h1 class="text-center my-4">Mis artículos</h1>
  <div class="container my-5">
    {% if articulos %}
      {% for articulo in articulos %}
        <div class="d-flex justify-content-center">
          <div class="card text-center" style="width: 22rem;">
            <img src="https://via.placeholder.com/100"
                 class="card-img-top"
                 alt="Imagen de las narices">
            <div class="card-body">
              <h5 class="card-title">{{ articulo.nombre }}</h5>
              <p class="card-text">{{ articulo.contenido }}</p>
              <a href="{% url 'articulo-detal/'  articulo.slug %}"
                 class="btn btn-primary">Detalle</a>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
{% endblock content %}
